<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Playlist</title>
</head>
    <body>
        <div class= "banner">
            <a href="/"><img src="https://www.flaticon.com/premium-icon/icons/svg/61/61972.svg" width="60px" height="60px"> </a>
        </div>
        
        <div clas="currentPlaylist">

            
            <h1> Today's featured Playlist:<%=playlists.playlist_name%> </h1>
            <ul>
            <% for(let i=0; i<playlists.Songs.length; i++) { %>
                <li>
                Song: <%=playlists.Songs[i].name%> <br>
               Artist: <%=playlists.Songs[i].artist%> 
               Album: <%=playlists.Songs[i].album%> <br>
                </li>
               Youtube: <a href="<%=playlists.Songs[i].video%>" target="_blank">Here!</a> <br>
               

               <% } %>
            </ul>
        </div>

        <form action="/playlists/<%=playlists.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Playlist" />
        </form>

        <div class="addSongBox">   
        <form action="/playlists/<%=playlists.id%>" method="POST">
            Song: <input type="text" name="name" />
            Artist: <input type="text" name="artist" />
            Album: <input type="text" name="album" />
            Video: <input type="text" name="video" />
            <input type="submit" value="Add Song" />
        </form>
        </div> 
        
    </body>
    </html>